div.row
  div.col-xs-offset-4.col-xs-4
    form(ng-submit="login()")
      div.form-group
        label Username
        input.form-control(type="text", ng-model="username")
      button.btn.btn-primary.btn-block(type="submit") Login
